.secondary-color {
  color: teal;
  /*     padding: 5px; */
  /*     padding: 5px 10px; top,bottom & left & right
/*    padding: 5px 10px 15px; top <left & right> bottom */
  padding: 5px 10px 15px 20px;
  border: 1px solid teal;
  margin: 20px;
  margin-top: 40px;
}
p {
  font-family: "Dancing Script", cursive;
}
/* Box-model of css*/

/* More reusability - multiple classes */

.second {
  background: pink;
}

/* pseudo selector */
.second:hover {
  color: white;
  text-decoration: underline;
}

/* id - only once */
/* class - multiple times or reused*/

#one:hover {
  color: black;
}

/* #two{
  color: blue;
} */

#one {
  text-decoration: underline;
}

li {
  color: pink;
  color: #ffdd40c9;
  color: rgb(14 190 255);
  /*   hex-code */
  /* rgba
  hsla */
  font-size: 25px;
  font-weight: 900; /*   100, 200, 300, ... 900 */
  text-transform: uppercase;
}

/* specificity */
/* higher priority or percedence */
/* id > class > elements or tags */

ul {
  letter-spacing: 10px;
  color: green;
  list-style: none;
}

/* li{
 color: green;  
} */

p.sentence {
  font-size: 14px;
}

.sentence {
  font-size: 14px;
}

.second.secondary-color.btn {
  color: red;
}

ul li.two {
  color: red;
}

/* Only direct child */
/* li with a two class and direct child of ul */
ul > li.two {
  color: red;
}
